:root {
  --light-bg-dark-shadow: #bec8e4;
  --light-bg-light-shadow: #ffffff;

  --bg-color: var(--light-bg);
  --card-shadow:  10px 10px 20px rgb(0 0 0 / 20%);
  --card-border: 1px solid #203e95;

  --box-shadow: none;
  --box-shadow-3: none;

  --info-bg: #203e95;
  --info-text: white;
  --info-logo-bg: white;
  --info-avatar-bg: white;

  --detail-bg: white;

  --item-bg: white;
  --item-icon: #203e95;
  --item-prefix: #203e95;
  --item-detail: black;

  --social-bg: white;
  --sub-social-bg: #203e95;
  --social-icon: white;
}