:root {
  --icon: #203e95;
  --social: #ffffff;
}


html {
  width: 100%;
  height: 100%;
}

body {
  display: block !important;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 375px;
  height: 680px;
}

/* .card:hover .card-content {
      transform: rotateY(180deg);
    } */

.card-content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.front {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 230px 360px 80px;
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #203e95;
  color: white;
  text-align: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  left: 15px;
}

.info .avatar {
  padding: 20px 0 3px 0;
}

.avatar-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0px auto;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.avatar-img img {
  width: 120px;
  height: 120px;
}

.info .name {
  padding: 5px;
}

.info .role,
.pos {
  font-size: 0.8rem;
  padding: 2px;
}

.detail {
  display: flex;
  flex-direction: column;
  font-size: 0.98rem;
  padding-top: 10px;
}

.detail .phone,
.tel,
.mail,
.address {
  height: 77px;
}

.item {
  display: grid;
  grid-template-columns: 90px 285px;
}

.item .icon {
  grid-row: 1/3;
  padding: 26px 15px 26px 38px;
  ;
}

.item .prefix {
  grid-column: 2/2;
  align-self: flex-end;
  color: #203e95;
  font-weight: bold;
}

.item .sub-detail {
  grid-column: 2/2;
  padding: 8px 10px 0 0;
  font-size: 0.95rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 20px;
}

.sub-social {
  background-color: #203e95;
  width: 74px;
  height: 66px;
  border-radius: 3px;
}

.icon-social {
  padding: 15px 20px;
}

.back {
  transform: rotateY(180deg);
  text-align: center;
  vertical-align: middle;
  background-image: url('https://image.ibb.co/mZ8vtT/Back_jpg.png');
  background-size: cover;
}

.back:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: rgb(20, 20, 20);
}