:root {
  --icon: #444444;
  --social: #444444;

  --text-color: rgba(0, 0, 0, 0.86);

  --light-bg: #e4ebf5;
  --light-bg-dark-shadow: #bec8e4;
  --light-bg-light-shadow: #ffffff;

  --bg-color: var(--light-bg);
  --border-color: var(--light-bg-dark-shadow);
  --box-shadow: 3px 3px 6px var(--light-bg-dark-shadow), -3px -3px 6px var(--light-bg-light-shadow);
  --box-shadow-3: 9px 9px 18px var(--light-bg-dark-shadow), -9px -9px 18px var(--light-bg-light-shadow);
}

a {
  text-decoration: none;
  color: var(--primary);
}

html,
body {
  background: var(--bg-color);
  background-color: var(--bg-color);
  display: block !important;
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 375px;
  height: 690px;
}

.card-content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  display: grid;
  z-index: 10;
  grid-template-rows: 240px 365px 85px;
  position: absolute;
  backface-visibility: hidden;
  box-shadow: var(--box-shadow);
  border-radius: 24px;
  color: var(--text-color);
  background: var(--bg-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
  overflow: hidden !important;
  z-index: 10;
}

.back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  transform: rotateY(180deg);
  overflow: hidden;
  position: absolute;
}

.info {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 80px;
  height: 40px;
  overflow: hidden;
  box-shadow: var(--box-shadow-inset-low) !important;
  --border-color: var(--text-color);
  border-radius: 4px;
  --box-shadow-inset-low: inset -1px -1px 3px var(--light-bg-light-shadow), inset 1px 1px 3px var(--light-bg-dark-shadow);
}

.logo img {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info .avatar {
  padding: 20px 0 3px 0;
}

.avatar-img {
  width: 120px;
  height: 120px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  box-shadow: var(--box-shadow-3);
  color: var(--text-color);
  background: var(--bg-color);
  background-color: var(--bg-color);
}

.avatar-img img {
  width: 120px;
  height: 120px;
  /* -webkit-filter: grayscale(100%); */
  /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
}

.info .name {
  padding: 5px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.info .role,
.pos {
  font-size: 0.7rem;
  color: var(--text-color);
  padding: 2px;
}

.detail {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.detail .phone,
.tel,
.mail,
.address {
  height: 74px;
}

.item {
  margin: 0 20px 20px 20px;
  display: grid;
  border-radius: 8px;
  grid-template-columns: 74px 255px;
  box-shadow: var(--box-shadow-3);
  color: var(--text-color);
  background: var(--bg-color);
  background-color: var(--bg-color);
}

.item .icon {
  grid-row: 1/3;
  padding: 22px 21px 20px 21px;
}

.item .prefix {
  font-size: 0.8rem;
  grid-column: 2/2;
  align-self: flex-end;
  color: var(--text-color);
  font-weight: bold;
}

.item .sub-detail {
  grid-column: 2/2;
  color: var(--text-color);
  padding-top: 5px;
  font-size: 0.7rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 12px 0px;
  height: 50px;
}

.sub-social {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  outline: none;
  border-radius: 4px;
  align-items: center;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  cursor: pointer;
}